.posicionamiento {
  margin-left: 20px;
  margin-top: 20px;
}

.margin-top {
  margin-top: 10px;
}

.ventana-introducir-datos{
    width: 600px;
    height: 480px;
    z-index: 1;
    border: 5px solid white;
}

.ventana-introducir-datos button{
    padding: 5px 10px;
    margin-left: 20px;
}

.ventana-introducir-datos-title {
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 18px;
}

.introducir-datos-form-style {
    margin: 20px;
    height: calc(100% - 100px);
    font-size: 18px;
    color: white;
}

.introducir-datos-form-style textarea {
    margin-bottom: 10px;
    font-size: 18px;
    resize: none;
    height: 70px;
}

.introducir-datos-form-style input {
    margin-bottom: 10px;
    font-size: 18px;
}

.introducir-datos-buttons-div {
    width: 100%;
    height: 35px;
}

.introducir-datos-buttons {
    margin-right: 20px;
    height: 90%;
    width: 100px;
    padding: 5px;
    font-size: 16px;
}