.menu {
  background-color: #301b90;
  width: 100%;
  height: 50px;
  color: white;
}

th{
	width: 600px;
	height: 75px;
	text-align: center;
}

.estilo_tabla{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 150px;
	text-align: center;
	background-color:  #9A71E5;
}

.botones_menu{
	margin-left: 10px;
	height: 90%;
	width: 100px;
	font-size: 14px;
	text-decoration: none;
	
}

.main-div {
    height: 100%;
    width: 100%;
    min-width: 576px;
    background-color: red;
    z-index: 0;
}

.main-section{
	width: 100%;
	height: calc(100% - 50px);
	background-color: #B895FC;
}

.floating-window-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 27, 144, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
}

#float-window-background-pedir-datos {
    display: none;
}


html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}