* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.main-div {
    height: 100%;
    width: 100%;
    min-width: 576px;
    background-color: #B895FC;
}

.project-section {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #B895FC;
    overflow: auto;
}

.estilo-th {
    background-color: #8256CB;
    color: white;
}

.estilo-td {
    background-color: #9A71E5;
    text-align: center;
}

.project-table {
    margin:20px;
}

.project-planification-div {
    width: 100%;
    height: 50px;
    background-color: #301b90;
}

.project-button {
    height: 90%;
    padding: 5px;
    font-size: 14px;
}

