* {
    padding: 5px;
}

html, body {
    width: 100%;
    height: 100%;
}

#user-div input{
    width: 200px;
}

#description-div input{
    width: 300px;
    margin-bottom: 10px;
}

#listado-tareas{
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    margin-top: 10px;
}

div button{
    padding: 5px 10px;
    margin-left: 20px;
}