.ventana-historia-edit {
    display: none;
    width: 600px;
    height: 400px;
    z-index: 1;
    border: 5px solid white;
}

.ventana-historia-edit button{
    padding: 5px 10px;
    margin-left: 20px;
}