#user-div input{
    width: 200px;
}

#description-div input{
    width: 300px;
    margin-bottom: 10px;
}

#listado-tareas{
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    margin-top: 10px;
}

.ventana-historia {
    position: fixed;
    display: none;
    width: 800px;
    height: 600px;
    background-color: green;
    z-index: 1;
}

.ventana-historia button{
    padding: 5px 10px;
    margin-left: 20px;
}