.ventana-tarea-delete {
    margin-top: -250px;
    display: none;
    width: 600px;
    height: 180px;
    z-index: 1;
    border: 5px solid white;
}

.ventana-tarea-delete button{
    padding: 5px 10px;
    margin-left: 20px;
}

.ventana-tarea-delete-title {
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 18px;
}

.tarea-delete-form-style {
    margin: 20px;
    height: calc(100% - 100px);
    font-size: 18px;
    color: white;
}

.tarea-delete-form-style select {
    margin-bottom: 10px;
    font-size: 18px;
}

.tarea-delete-buttons-div {
    width: 100%;
    height: 35px;
}

.tarea-delete-buttons {
    margin-right: 20px;
    height: 90%;
    width: 100px;
    padding: 5px;
    font-size: 16px;
}